body {
  background: #e4e4e4;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  width: 100%;
  padding: 1rem 0rem;
  margin: auto;
  text-align: center;
  background-color: dodgerblue;
  color: black;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  width: auto;
  height: 100%;
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.horizontal {
  height: 50px;
  padding: 0px;
  margin: 0px;
  background-color: black;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.horizontal > li {
  display: inline-block;
  text-align: center;
  height: inherit;
  width: 20%;
  background-color: black;
  color: gray;
}

.horizontal > li:hover {
  background-color: #222;
}

.nav-bar {
  padding: 0px;
  line-height: 300%;
}

.dropdown {
  display: none;
  flex-direction: column;
  justify-content: center;

  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
  
}

.dropdown > li {
  text-align: center;
  line-height: 250%;
  overflow: auto;
  height: 40px;
  width: auto;
  border-top: 2px;
  border-top-style: solid;
  border-color: gray;
  background-color: black;
  color: dodgerblue;
}

.dropdown > li:hover {
  background-color: #222;
}

.nav-bar:hover + .dropdown, .dropdown:hover {
  display: flex;
}